Screen {
    background: $panel;
}

Input {
    margin: 1 0;
}

#results {
    width: 40%;
    height: auto;    
}

#results-container {
    background: $background 50%;
    margin: 0 0 1 0;
    height: 50%;
    overflow: hidden auto;
    border: tall $background;
}

#results-container:focus {
    border: tall $accent;
}

Horizontal {
    align: left middle;
}

Static {
    padding: 1;
}

test {
    align: center middle;
}