Screen {
    background: $panel;
}

Input {
    margin: 1 0;
}

#results {
    width: 40%;
    height: 20;    
}

#results-container {
    background: $background 50%;
    margin: 0 0 1 0;
    height: 10;
    border: tall $background;
}

#results-container:focus {
    border: tall $accent;
}

Static {
    padding: 1;
}