Button {
    margin: 1 1;
    align: center middle;
}

.header {
    margin: 1 0 0 2;
    text-style: bold;
}

PositionActions {
    layout: horizontal;
    align: right middle;
    background: $boost;
    padding: 0;
}

PortfolioTable {
    layout: horizontal;
    align: center top; 
    padding: 1;
}

#Summary {
    padding: 0;
    align: center middle;
    margin: 2;
}

.hidden {
    display: none;
}